/* Estilo específico para el formulario de administración */
.admin-input-group, .swap-input-group {
    display: flex;
    align-items: center; /* Alinear el label y el input en el centro verticalmente */
    justify-content: space-between; /* Separar el label y el checkbox horizontalmente */
    text-align: left;
    margin-bottom: 10px;
    margin-right: 7rem;
}

.admin-input-group label, .swap-input-group label {
    flex: 1; /* El label ocupará todo el ancho disponible */
    margin-right: 10px; /* Espacio entre el label y el checkbox */
    color: #555;
    font-weight: bold;
}

.admin-input-group input[type="checkbox"], .swap-input-group input[type="checkbox"] {
    width: auto; /* Evitar que el checkbox se extienda al 100% */
    margin: 0; /* Eliminar márgenes adicionales */
}
