/* Estilos del header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0056b3;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
    height: 45px; /* Ajusta la altura según sea necesario */
}

.app-logo-link {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

header img.app-logo {
    height: auto;
    max-height: 3.75rem;
    margin-right: 1rem;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    flex: 1;
    text-align: center;
}

.hamburger-menu {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    width: 150px;
    text-align: left;
}

.dropdown-menu a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.back-to-main-menu, .back-to-login {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

.back-icon {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    transform: rotate(180deg); /* Rota la imagen 180 grados */
}
