@media (max-width: 1024px) {
    table {
        width: 100%;
        table-layout: auto; /* Cambia a auto para permitir la expansión */
    }
    th, td {
        font-size: 0.875rem; /* Reduce el tamaño de la fuente */
        padding: 2px; /* Reduce el padding */
    }
    th.work-site {
        width: auto; /* Permite que la primera columna se ajuste automáticamente */
    }

    th:not(.work-site) {
        width: 125px; /* Permite que las demás columnas se ajusten automáticamente */
    }

    td.work-site {
        width: auto; /* Permite que la primera columna se ajuste automáticamente */
    }
}

@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    header img.app-logo {
        position: relative;
        height: auto;
        max-height: 3rem;
        margin-right: 1rem;
    }

    .back-icon {
        width: 30px;
    }
    
    header h1 {
        font-size: 1.25rem;
        text-align: center;
    }

    nav button, .content-section button {
        flex: 1 1 100%;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }

    main {
        padding: 1rem;
    }

    .remember-me input[type="checkbox"] {
        margin-left: 0px;
    }

    /* Estilos responsivos para las tablas */
    table {
        width: 100%;
        table-layout: auto; /* Cambia a auto para permitir la expansión */
    }

    th, td {
        font-size: 0.875rem; /* Reduce el tamaño de la fuente */
        padding: 2px; /* Reduce el padding */
    }

    th.work-site {
        width: auto; /* Permite que la primera columna se ajuste automáticamente */
    }

    th:not(.work-site) {
        width: auto; /* Permite que las demás columnas se ajusten automáticamente */
    }

    td.work-site {
        width: auto; /* Permite que la primera columna se ajuste automáticamente */
    }

    td.droppable {
        background-color: #f0f0f0;
    }

    .instructions button {
        width: 100%; /* Asegura que los botones ocupen todo el ancho en dispositivos pequeños */
        padding: 0.5rem; /* Ajusta el padding según sea necesario */
    }

    .download-button {
        width: 100%; /* Asegura que los botones ocupen todo el ancho en dispositivos pequeños */
        padding: 0.5rem; /* Ajusta el padding según sea necesario */
    }

    .lock-button {
        width: 100%; /* Asegura que los botones ocupen todo el ancho en dispositivos pequeños */
        padding: 0.5rem; /* Ajusta el padding según sea necesario */
    }


    .notification-area button {
            width: 30%; /* Los botones ocuparán todo el ancho disponible */
            font-size: 0.9rem; /* Ajustar el tamaño de fuente */
            padding: 0.8rem 1.5rem; /* Ajustar el padding para mejor visualización */
            margin: 0.5rem; /* Márgenes ajustados */
    }
}


@media (max-width: 480px) {
    header {
        justify-content: center;
    }

    header img.app-logo {
        position: relative;
        height: auto;
        max-height: 2.5rem;
        margin-right: 1rem;
    }

    header h1 {
        font-size: 1.25rem;
        text-align: center;
    }

    nav {
        padding: 0.5rem;
    }

    nav button, .content-section button {
        flex: 1 1 100%;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }

    main {
        padding: 0.5rem;
    }

    .content-section {
        padding: 0.75rem;
    }

    .remember-me input[type="checkbox"] {
        margin-left: 2px;
    }

    /* Estilos responsivos para las tablas */
    table {
        width: 100%;
        table-layout: auto;
    }

    th, td {
        font-size: 0.75rem; /* Reduce aún más el tamaño de la fuente */
        padding: 1px; /* Reduce el padding */
        word-break: break-word;
    }

    th.work-site {
        width: auto; /* Permite que la primera columna se ajuste automáticamente */
        word-break: break-word;
    }

    th:not(.work-site) {
        width: auto; /* Permite que las demás columnas se ajusten automáticamente */
        word-break: break-word;
    }

    td.work-site {
        width: auto; /* Permite que la primera columna se ajuste automáticamente */
        word-break: break-word;
    }

    td.droppable {
        background-color: #f0f0f0;
        white-space: nowrap; /* Evita el desbordamiento de texto */
        word-break: break-word;
        align-items: center;
    }

    select {
        display: flex;
    }

    .instructions button {
        width: 100%; /* Asegura que los botones ocupen todo el ancho en dispositivos pequeños */
        padding: 0.5rem; /* Ajusta el padding según sea necesario */
    }

    .download-button {
        width: 100%; /* Asegura que los botones ocupen todo el ancho en dispositivos pequeños */
        padding: 0.5rem; /* Ajusta el padding según sea necesario */
    }

    .lock-button, .notification-area button {
        width: 100%; /* Asegura que los botones ocupen todo el ancho en dispositivos pequeños */
        padding: 0.5rem; /* Ajusta el padding según sea necesario */
    }
}
