@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    header img.app-logo {
        position: relative;
        height: auto;
        max-height: 3rem;
        margin-right: 1rem;
    }

    .back-icon {
        width: 30px;
    }
    
    header h1 {
        font-size: 1.25rem;
        text-align: center;
    }

    nav button, .content-section button {
        flex: 1 1 100%;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }

    main {
        padding: 1rem;
    }

    .remember-me input[type="checkbox"] {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    header {
        justify-content: center;
    }

    header img.app-logo {
        position: relative;
        height: auto;
        max-height: 2.5rem;
        margin-right: 1rem;
    }

    header h1 {
        font-size: 1.25rem;
        text-align: center;
    }

    nav {
        padding: 0.5rem;
    }

    nav button, .content-section button {
        flex: 1 1 100%;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }

    main {
        padding: 0.5rem;
    }

    .content-section {
        padding: 0.75rem;
    }

    .remember-me input[type="checkbox"] {
        margin-left: 2px;
    }
}