nav {
    display: flex;
    justify-content: space-around;
    background-color: #007bff;
    padding: 1rem;
    flex-wrap: wrap;
}

nav button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 0.5rem;
    flex: 1 1 calc(50% - 1rem);
    box-sizing: border-box;
    border-radius: 10px;
}

nav button.active, nav button:hover {
    background-color: #003f7f;
}
