body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Hace que las columnas tengan un ancho fijo */
}

.assigments-table {
    margin-bottom: 20px; /* Agrega margen inferior para separar de h3.title */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0056b3;
    color: white;
}

th.work-site {
    width: 250px; /* Ancho fijo para la primera columna */
}

th:not(.work-site) {
    width: calc((100% - 250px) / 5); /* Ancho distribuido entre las columnas restantes */
}

td.droppable {
    background-color: #f0f0f0;
}

td.separator-thin {
    border-top: 2px solid #ddd;
    background-color: #fff;
    padding: 0;
    height: 0;
}

td.separator-thick {
    border-top: 2.5px solid #ddd;
    background-color: #fff;
    padding: 0;
    height: 0;
}

td.work-site {
    font-weight: 600;
    width: 250px; /* Ancho fijo para la primera columna */
}

table.assigments-inform {
    margin-bottom: 20px; /* Ajusta el valor según tus necesidades */
}

select {
    width: 70%;
    padding: 5px;
    box-sizing: border-box;
}

.cell-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-content select {
    margin-right: 5px; /* Espacio entre el select y el botón */
}

.instructions button {
    width: 100%;
    padding: 10px;
    background-color: #0069d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5rem 0;
}

.instructions button:hover {
    background-color: #0056b3;
}

.lock-button {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.lock-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos para la sección de instrucciones */
.instructions {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.instructions h3 {
    margin-top: 0;
}

.instructions ol {
    padding-left: 20px;
    margin-bottom: 10px;
}

.instructions ol li {
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.schedule-assistant button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-left: 5px;
}

select.default {
    background-color: rgb(254, 254, 254);
}

select.assigned {
    background-color: rgb(238, 230, 144); /* Puedes cambiar a cualquier color que prefieras */
}

.inform {
    font-weight:600;
}

.title {
    margin-top:30px;
}
